.header{
    border: 1px solid;
}

.header__img{
    margin-top: 10px;
    margin-left: 10px;
}

.header__content{
    display: flex;
    justify-content: space-between;
    border: 1px solid;
    /* height: 43px; */
}

.header__social{
    display: flex;
    border: 1px solid;
}

.header__menu{
    border: 1px solid;
}

.social__list{
    display: flex;
    flex-direction: row;
    border: 1px solid;
    
}

.social__item{
    margin: 5px;
    list-style: none;
    
}

.menu__list{
    display: flex;
    list-style: none;

}

.container__img{
    width: 100%;
}

