* {
    box-sizing: border-box;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

a:hover {
    opacity: 0.5;
    text-decoration: none;
    color: #fff;
    }


ul {
    list-style: none;
}

.btn {
    border: 1px solid transparent;
    display: inline-block;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.btn:focus,
.btn:active {
    box-shadow: none;
}

.btn:hover{
    opacity: 0.7;
    color: rgb(12, 2, 2);
}

.title {
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #3D4F9F;
    margin-bottom: 20px;
}

.title-slogan {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #3D4F9F;
}

.container__wrap {
    max-width: 1440px;
    margin: 0 auto;
}

.container__inner {
    position: relative;
    padding-left: 8%;
    padding-right: 8%;
}

/* ! header and top footer*/

.header {
    border: none;
    padding-top: 23px;
    padding-bottom: 23px;
}

.logo {
    margin-right: 73px;
}

.nav-item:not(:last-child) {
    margin-right: 26px;
}

.nav-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #697CA6;
    text-shadow: 0px 0px 5px #E6E6E6;
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: .5px solid transparent;
    transition: all .5s;
}

.nav-link:hover {
    border-bottom: .5px solid #000;
    color: #000;
}

.social__link {
    display: inline-block;
    padding: 10px;
}

.social__link:not(:last-child) {
    margin-right: 17px;
}

.social__link:last-child {
    margin-right: 34px;
}

.button--started {
    width: 113px;
    height: 43px;
    background: #D2E1FF;
    border-radius: 2px;
    font-weight: bold;
    font-size: 13px;
    color: #3A79FF;
    box-shadow: none;
}


.button--started:active {
    background: #8caff0;
}


/* ! planning */

.planning {
    padding-top: 92px;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    border: 1px solid #5F82FF;
}

.planning__content {
    margin-bottom: -180px;
}

.planning__title {
    margin-bottom: 16px;
}

.planning__subtitle {
    margin-bottom: 28px;
    font-family: Quicksand;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    color: #3D4F9F;
}

.planning__subtitle--bold {
    font-weight: 500;
}

.planning__text {
    max-width: 502px;
    font-family: Roboto;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.planning-slider__img {
    object-fit: cover;
}

.carousel-control-prev__planning-img {
    position: absolute;
    top: 175px;
    left: 50%;
    transform: translate(-50%);
}

/* ! statistics */

.statistics__description {
    padding-top: 66px;
    padding-bottom: 66px;
}

.statistics__progress {
    padding-left: 0;
    padding-right: 90px;
    color: #FFFFFF;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.statistics__users {
    padding-right: 0;
    padding-left: 90px;
    color: #5E80FF;
    background: linear-gradient(101.48deg, #E9EFFF 41.56%, #E0E9FF 81.53%);
}

.statistics__img {
    width: 65px;
    height: 66px;
    margin-bottom: 24px;
}

.statistics__indicator {
    font-size: 48px;
    line-height: 83px;
    letter-spacing: 0.03em;
}

.statistics__text {
    margin: 0;
    max-width: 260px;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
}

/* ! blog */

.blog {
    background: #F5F8FF;
    padding-top: 104px;
}

.container__wrap {
    max-width: 1440px;
    margin: 0 auto;
}

.blog__title-slogan {
    margin-bottom: 92px;
}

.blog__slaider-wrapper {
    padding-left: 135px;
    padding-right: 135px;
    margin-bottom: 100px;
}


.blog__slaider-title {
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
    margin-bottom: 32px;
}

.blog__slaider {
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-sizing: border-box;
    box-shadow: 0px 15px 50px #EFF4FF;
    padding-top: 63px;
    padding-bottom: 64px;
}

.blog__slaider-images {
    margin-right: 67px;
}

.slaider__images-left {
    position: relative;
    margin-right: 13px;
}


.slaider__images-link {
    position: absolute;
    top: 38%;
    left: 38%;
}

.slaider-images-right--top {
    margin-bottom: 13px;
}

.blog__slaider-text {
    max-width: 408px;
    font-family: Roboto;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    margin-bottom: 31px;
}

.blog__slaider-button--add {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 113px;
    height: 43px;
    background-color: #D2E1FF;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #3A79FF;
    margin-right: 8px;
}

.blog__slaider-button--addition {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 43px;
    background-color: #FFFFFF;
    border-radius: 2px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #A6B6DA;
}

.carousel-inner__blog {
    margin-bottom: 104px;
}

/* ! arrow */

.carousel-control-next,
.carousel-control-prev {
    top: -90px;
}



.carousel-indicators li {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    background-color: #153eb8;
    margin-bottom: 0;
}

.carousel-indicators li:active {
    background-color: #020408
}

.carousel-indicators li:not(:last-child) {
    margin-right: 12px;
}

/* ! background-color*/

/* .blog__slaider-content--first {
    background-color: rgb(199, 199, 247);
}

.blog__slaider-content--second {
    background-color: rgb(162, 162, 240);
}

.blog__slaider-content--third {
    background-color: rgb(228, 228, 245);
} */



/* ! testimonials */

.testimonials-wrapper {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    padding-left: 276px;
    padding-right: 233px;
    border-top: 1px solid #D8E3FE;
    border-bottom: 1px solid #D8E3FE;
}

.testimonials__title {
    margin-top: 146px;
    margin-bottom: 31px;
}

.testimonials__title-slogan {
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    margin-bottom: 14px;
}

.testimonials__text {
    max-width: 323px;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    letter-spacing: 0.03em;
    color: #A4ABC8;
}

.testimonials__slaider-content {
    position: relative;
    width: 423px;
    margin: 0;
    padding: 0;
    margin-top: 113px;
    margin-bottom: 90px;
    padding: 41px 60px 30px 60px;
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-shadow: 0px 5px 50px #F3F5FA;
}

.testimonials__slaider-text {
    font-family: Roboto;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    margin: 0;
    color: #676F95;
    position: relative;
}

.testimonials__slaider-foto {
    position: absolute;
    bottom: -31px;
    overflow: visible;
    transition: all 1s linear;
    -webkit-transition: all 1s linear;
    -moz-transition: all 1s linear;
    -ms-transition: all 1s linear;
    -o-transition: all 1s linear;
    z-index: 99;
}

.testimonials__slaider-foto:hover {
    cursor: pointer;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
}

.testimonials__slaider-shadow-content {
    margin-left: 0;
    opacity: 0.45;
    color: #8D96BD;
    margin-right: 0;
}

/* ! questions */

.questions {
    padding: 175px 0;
}

.questions__title {
    color: #3D4F9F;
    margin-bottom: 68px;
}

.questions__title-text {
    margin-bottom: 20px;
}

.help__card {
    border: none !important;
    border-bottom: 1px solid #D8E3FE !important;
}

.help__card-header {
    background-color: transparent;
    padding: 17px 17px 15px;
    border: none !important;
}

.help__card-title {
    height: 45px;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: #495274;
    font-size: 15px;
    letter-spacing: .5px;
}

.help__card-btn {
    height: 12px;
    width: 20px;
    background-image: url(../img/questions/arrow_top.svg);
    background-repeat: no-repeat;
    margin-right: 24px;
}

.help__card-btn.collapsed {
    background-image: url(../img/questions/arrow_doun.svg);
    background-repeat: no-repeat;
}

.help__card-btn.collapsed+.help__card-title-text {
    color: #8E96B7;
    font-weight: 500;
}

.questions__btn:hover,
.questions__btn:focus,
.questions__btn:active {
    border: 1px solid transparent;
}

.help__card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 10px 50px 72px;
}

.help__card-text {
    font-family: Roboto;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #8D96BD;
    line-height: 1.9;
    margin-right: 60px;
}

.help__card-body-btn {
    height: 42px;
    min-width: 195px;
    background-color: #E8ECF4;
    font-weight: 500;
    font-size: 13px;
    color: #7382A3;
    margin-top: 5px;
    border-radius: 2px;
}

.help__card-body-btn:focus {
    outline: 1px solid transparent;
}

/* !get-started */

.get-started__inner {
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.get-started__wrapper {
    background-image: url('../img/get-started/rigth/blue_big.svg'), url('../img/get-started/rigth/blue_small.svg'),
        url('../img/get-started/rigth/big.svg'),
        url('../img/get-started/rigth/small.svg'),
        url('../img/get-started/left/bottom/blue_small.svg'),
        url('../img/get-started/left/bottom/blue_big.svg'),
        url('../img/get-started/left/top/blue.svg'),
        url('../img/get-started/left/top/big.svg'),
        url('../img/get-started/left/top/small.svg');
    position: relative;
    background-position: bottom 109px right 354px,
        bottom 109px right 93px,
        bottom 64px right 107px,
        bottom 180px right 247px,
        bottom 91px left 107px,
        bottom 51px left 158px,
        top 152px left 50px,
        top 95px left 117px,
        top 77px left 59px;
    background-repeat: no-repeat;
    padding-top: 91px;
    padding-bottom: 91px;

}

.get-started__title {
    color: #FFFFFF;
    margin-bottom: 16px;
}

.get-started__subtitle,
.get-started__text {
    color: #FFFFFF;
    margin-bottom: 28px;
}

.get-started__subtitle {
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
}

.get-started__subtitle--bold {
    font-weight: 500;
}

.get-started__text {
    min-height: 78px;
    max-width: 710px;
}

.get-started__link {
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
}

.get-started__link--price {
    width: 130px;
    height: 43px;
    background-color: #fff;
    box-shadow: 0px 5px 15px #6480E8;
    border-radius: 2px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #565F82;
}

.get-started__link--documentation {
    width: 155px;
    height: 43px;
    border: 1px solid #A0B4FF;
    box-sizing: border-box;
    border-radius: 2px;
    color: #C7D3FF;
}


/*! newsletter */

.newsletter-wrapper {
    background-color: #FCFDFF;
    border-top: 1px solid #D8E3FE;
    border-bottom: 1px solid #D8E3FE;
}

.newsletter__content-description {
    width: 330px;
}

.newsletter__content {
    margin: 0 auto;
    padding: 118px 276px;
}

.newsletter__title {
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #3D4F9F;
    margin-bottom: 18px;
}

.newsletter__text {
    font-family: Roboto;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
    margin: 0;
}

.newsletter__input {
    width: 279px;
    padding: 23px 165px 20px 23px;
    font-size: 13px;
    line-height: 16px;
    background-color: #EFEFF7;
    border-radius: 5px;
    border: none;
}

.newsletter__input::placeholder {
    padding: 0;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #7A85AD;
}

.newsletter__button {
    width: 180px;
    min-height: 59px;
    /* padding: 23px 62px 20px; */
    background: #4D6CE1;
    box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
    border-radius: 5px;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    margin-left: 10px;
}

/* !footer */

.footer {
    padding-top: 93px;
    padding-bottom: 93px;
}

.footer-container__wrap {
    margin-bottom: 42px;
}

.footer__copiright {
    margin-left: 120px;
    padding: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: #AEB8D0;
}

/* !media */

@media (max-width:1370px) {

    .testimonials-wrapper {
        padding-left: 150px;
        padding-right: 100px;
    }

    .testimonials__title {
        margin-top: 80px;
        margin-bottom: 25px;
    }

    .testimonials__slaider-content {
        margin-top: 80px;
    }
}

@media (max-width:1200px) {

    .container__inner {
        padding-left: 4%;
        padding-right: 4%;
    }

    .blog {
        padding-top: 60px;
    }

    .blog__title-slogan {
        margin-bottom: 50px;
    }

    .blog__slaider {
        padding: 30px 5px;
    }

    .blog__slaider-images {
        margin-right: 20px;
    }

    .carousel-indicators__blog {
        bottom: 40px;
    }

    .testimonials-wrapper {
        padding-left: 50px;
    }

    .testimonials__title-slogan {
        font-size: 35px;
    }

    .questions {
        padding: 100px 0;
    }

    .newsletter__content {
        padding: 100px 45px;
    }
}

@media (max-width:1100px) {

    .carousel-inner__blog {
        margin-bottom: 30px;
    }

    .slaider-images-right {
        display: none !important;
    }

    .blog__slaider-title {
        font-size: 30px;
        line-height: 25px;
        margin-bottom: 10px;
    }

    .blog__slaider-text {
        margin-bottom: 25px;
    }
}

@media (max-width:992px) {

    .navbar {
        position: absolute;
        left: 0;
        top: 0;
    }

    .logo {
        display: none;
    }


    .logo {
        margin-right: 30px;
    }

    .carousel-control-next {
        right: 25px;
    }

    .carousel-control-prev {
        left: 25px;
    }

    .carousel-control-next,
    .carousel-control-prev {
        top: -55px;
    }

    .carousel-control-next {
        right: -30px;
    }

    .carousel-control-prev {
        left: -30px;
    }

    .blog__slaider-wrapper {
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 80px;
    }

    .blog__slaider-images {
        margin-right: 10px;
    }

    .slaider__images-left--big {
        height: 200px;
    }

    .slaider__images-left--search {
        height: 60px;
    }

    .blog__slaider-text {
        margin-bottom: 15px;
    }

    .testimonials-wrapper {
        padding: 0;
    }

    .testimonials__description {
        text-align: center;
    }

    .testimonials__text {
        margin: 0 auto;
    }

    .help__card-body {
        display: flex;
        flex-direction: column;
    }

    .questions {
        padding: 70px 0;
    }

    .newsletter__content {
        padding: 35px;
    }

    .menu-block {
        justify-content: center !important;
        margin-bottom: 25px !important;
    }

    .nav-item:not(:last-child) {
        margin-right: 30px;
    }

    .social-list {
        justify-content: center !important;
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .footer__copiright {
        margin-left: 78px;
    }
}

@media (max-width:767px) {


    .carousel-inner__blog {
        margin-bottom: 10px;
    }

    .footer__copiright {
        margin-left: 0;
    }
}

@media (max-width:725px) {

    .carousel-control-prev,
    .carousel-control-next {
        display: none;
    }

    .blog__slaider-wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    .slaider__images-left--big {
        height: 150px;
    }

    .slaider__images-left--search {
        height: 45px;
    }

    .statistics__progress {
        padding-right: 60px;
        padding-left: 10px;
    }

    .statistics__users {
        padding-left: 60px;
        padding-right: 10px;
    }

    .newsletter__text {
        margin-bottom: 10px;
    }
}

@media (max-width:576px) {

    .blog__slaider-button--add {
        width: 90px;
        height: 35px;
        font-size: 12px;
        margin-bottom: 5px;
    }

    .blog__slaider-button--addition {
        font-size: 12px;
        padding: 10px;
    }

    .statistics__progress {
        align-items: flex-start !important;
        padding-left: 60px;
        padding-right: 10px;
    }

    .statistics__progress-description {
        text-align: start !important;
    }


    .blog {
        padding-top: 35px;
    }

    .blog__slaider-title {
        font-size: 25px;
    }

    .blog__title-slogan {
        margin-bottom: 30px;
    }

    .blog__slaider-text {
        font-size: 12px;
    }
}

@media (max-width:550px) {

    .navbar {
        top: 5px;
    }

    .navbar-toggler {
        padding: .2rem .5rem;
        font-size: 1rem;
    }

    .social__link:not(:last-child) {
        margin-right: 10px;
    }

    .social__link:last-child {
        margin-right: 15px;
    }

    .button--started {
        width: 90px;
        height: 30px;
        font-size: 10px;
    }

    .testimonials__slaider-content {
        width: 340px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .help__card-text {
        margin-right: 20px;
    }

    .newsletter__form {
        display: flex;
        flex-direction: column;
    }

    .newsletter__input {
        margin-bottom: 10px;
        padding-right: 20px;
        padding-left: 48px;
    }

    .newsletter__input::placeholder {
        font-size: 20px;
        line-height: 20px;
    }

    .newsletter__button {
        margin: 0;
        font-size: 20px;
    }

}

@media (max-width:444px) {

    .header {
        padding-top: 10px;
    }

    .navbar {
        z-index: 10;
    }

    .nav-link {
        font-size: 10px;
        padding-bottom: 5px;
        padding-top: 5px;
    }

    .blog__slaider-images {
        margin-right: 0px;
    }

    .slaider__images-left--big {
        height: 110px;
    }

    .slaider__images-left--search {
        height: 30px;
    }

    .blog__slaider-title {
        font-size: 15px;
    }

    .blog__slaider-text {
        font-size: 10px;
    }

    .blog__slaider-button--add {
        font-size: 10px;
    }

    .blog__slaider-button--addition {
        font-size: 10px;
    }

    .get-started__link--price {
        margin-bottom: 10px;
    }

    .testimonials__title-slogan {
        font-size: 24px;
    }

    .footer__copiright {
        font-size: 10px;
    }
}

@media (max-width:400px) {

    .container__inner {
        padding-right: 1%;
    }

    .social__link:not(:last-child) {
        margin-right: 5px;
    }

    .social__link:last-child {
        margin-right: 10px;
    }

    .social__img {
        width: 80%;
    }

    .testimonials__slaider-content {
        width: 300px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .testimonials__slaider-text {
        font-size: 13px;
    }
}

@media (max-width:319px) {

    .carousel-indicators__blog {
        margin-right: 10%;
        margin-left: 10%;
    }

    .testimonials__slaider-content {
        width: 250px;
        padding-left: 10px;
        padding-right: 10px;
    }
}